:root {
    /* ### Primary */

    --Moderate_violet: #7541c8;
    --Very_dark_grayish_blue: #48556a;
    --Very_dark_blackish_blue: #19212e;

    /* ### Neutral */

    --Light_gray: #cfcfcf;
    --Light_grayish_blue: #ecf2f8;
}

/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

/* general styling */

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed';
    Font-size: 13px;
    background-color: var(--Dark_cyan);
    background-color: #edf2f8;
}

main {
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin: auto 24px;

    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-areas:
        'Daniel'
        'Jonathan'
        'Jeanette'
        'Patrick'
        'Kira';


    /* grid-template-areas: 
    "Daniel Daniel Jonathan Kira"
    "Jeanette Patrick Patrick Kira"; */
    /* grid-template-columns: 1fr; */

}

article {
    position: relative;
    min-height: 280px;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Barlow Semi Condensed';
    z-index: 1;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(217 19% 35%);

}

/* --Very_dark_blackish_blue */

/* one */
article.Daniel {
    background-color: #733fc8;
    grid-area: Daniel;
    /* grid-area: 1/1/2/3; */
}

/* two */
article.Jonathan {
    background-color: #48556a;
    grid-area: Jonathan;
    /* grid-area: 1/3/2/4; */
}

/* three */
article.Jeanette {
    background-color: #fff;
    grid-area: Jeanette;
    /* grid-area: 2/1/3/2; */
}

/* four */
article.Patrick {
    background-color: #18202d;
    grid-area: Patrick;
    /* grid-area: 2/2/3/4; */
}

/* five */
article.Kira {
    background-color: #fff;
    grid-area: Kira;
    /* grid-area: 1/4/3/5; */
}






article svg {
    position: absolute;
    right: 9%;
    top: 0;
    z-index: -1;
}

article .info {
    display: flex;
    align-items: center;
}

article .info img {
    border-radius: 50%;
    border: 3px solid var(--Light_gray);
    margin-right: 15px;
}

article .info .names {
    display: flex;
    flex-direction: column;
}

/* color: var(--Very_dark_blackish_blue); */

article .info .names span:first-of-type {
    font-weight: 600;
    color: var(--Light_grayish_blue);
    font-size: 0.8125rem;
}

article .info .names span:last-of-type {
    color: var(--Light_gray);
    font-size: 0.6875rem;
    opacity: 0.5;
}


article h1 {
    font-weight: 600;
    color: hsla(210, 46%, 95%);
    margin-top: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
}

article p {
    color: hsla(0, 0%, 81%);
    margin-top: 25px;
    opacity: 0.7;
}

article.Kira .info .names span:first-of-type,
article.Jeanette .info .names span:first-of-type,
article.Kira h1,
article.Jeanette h1 ,
article.Kira p,
article.Jeanette p {
    color: var(--Very_dark_blackish_blue);
}


article>* {
    margin: 0 5px;
}


/* ********************************* */



@media screen and (min-width: 33em) {
    main {
        grid-template-areas:
            "Daniel Daniel"
            "Jonathan Jeanette"
            "Kira Kira"
            "Patrick Patrick";
    }
}

@media screen and (min-width: 38em) {
    main {
        grid-template-areas:
            'Daniel Daniel'
            'Jonathan Kira'
            'Jeanette Kira'
            'Patrick Patrick';
    }
}

@media screen and (min-width: 54em) {
    main {
        grid-template-areas:
            "Daniel Daniel Jonathan"
            "Kira Kira Kira"
            "Jeanette Patrick Patrick";
    }
}

@media screen and (min-width: 75em) {
    main {
        grid-template-areas:
            "Daniel Daniel Jonathan Kira"
            "Jeanette Patrick Patrick Kira";
    }
}